#acercaDeNosotros{
    color :#ffffff;
    background-color: #b11b1b;
    padding: 35px;
}

#mision{
    color :#ffffff;
    background-color: #000000;
    padding-left: 25px;
    padding-right: 500px;
    padding-bottom: 35px;
    padding-top: 25px;
}

#vision{
    color :#ffffff;
    background-color: #000000;
    padding-left: 500px;
    padding-right: 25px;
    padding-bottom: 35px;
}

#valores{
    color :#ffffff;
    background-color: #000000;
    padding-left: 25px;
    padding-right: 500px;
    padding-bottom: 65px;
}

h1 {
    font-size: 48px;
}

p {
    font-size: 16px;
}

#fotos {
    padding-top: 80px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    background-color: #000000;
    color: #ffffff;
}

#fotos img {
    border-radius: 100%;
    margin-top: 25px;
}

#fotos div {
    margin-left: 70px;
    margin-right: 50px;
    width: 200px;
}

body {
    background-color: #b11b1b;
}

.name {
    margin-bottom: -5px;
}

.trabajo {
    color: #b11b1b;
}

#team {
    color: #ffffff;
    background-color: #000000;
    text-align: center;
    /*padding-top: 50px;*/
}

#more {
    color :#ffffff;
    background-color: #000000;
    padding: 60px;
    text-align: center;
}

/* Extra small devices (phones, 600px and down) */
/*@media only screen and (max-width: 600px) {...}*/

/* Small devices (portrait tablets and large phones, 600px and up) */
/*@media only screen and (min-width: 600px) {...}*/

/* Medium devices (landscape tablets, 768px and up) */
/*@media only screen and (min-width: 768px) {...}*/

/* Large devices (laptops/desktops, 992px and up) */
/*@media only screen and (min-width: 992px) {...}*/

/* Extra large devices (large laptops and desktops, 1200px and up) */
/*@media only screen and (min-width: 1200px) {...}*/
