/*Empieza estilos navbar*/
.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 0;
    align-items: center;
}

.boton-nav{
    padding: 8px 30px;
    border-radius: 20px;
    margin-left: 16px;
    margin-bottom: 8px;
    text-align: center;
}
.boton-nav:hover{
    cursor: pointer;
}
.boton-comprar{
    background-color: #b11b1b;
    color: white;
    border: 1px solid black;
}

.boton-comprar:hover{
    background-color: white;
    color: black;
    border: 1px solid #b11b1b;
}

.boton-unirse {
    background-color: white;
    color: black;
    border: 1px solid #b11b1b;
}
.boton-unirse:hover {
    background-color: #b11b1b;
    color: white;
    border: 1px solid black;
}

.img-navbar{
    height: 40px;
}

.bg-body-tertiary {
    --bs-bg-opacity: 1;
    background-color: rgba(white, var(--bs-bg-opacity)) !important;
}
/*Termina estilos navbar*/

#acercaDeNosotros{
    color :#ffffff;
    background-color: #b11b1b;
    padding: 35px;
    background: linear-gradient(to right, #B11B1B, #4B0B0B);
    font-family: 'Roboto', sans-serif; 
}

#mision{
    color :#ffffff;
    background-color: #000000;
    padding-left: 25px;
    padding-right: 500px;
    padding-bottom: 35px;
    padding-top: 25px;
    font-family: 'Roboto', sans-serif; 
}

#vision{
    color :#ffffff;
    background-color: #000000;
    padding-left: 500px;
    padding-right: 25px;
    padding-bottom: 35px;
    font-family: 'Roboto', sans-serif; 
}

#valores{
    color :#ffffff;
    background-color: #000000;
    padding-left: 25px;
    padding-right: 500px;
    padding-bottom: 65px;
    font-family: 'Roboto', sans-serif; 
}

h1 {
    font-size: 48px;
    font-family: 'Roboto', sans-serif; 
}

p {
    font-size: 16px;
    font-family: 'Roboto', sans-serif; 
}

#fotos {
    padding-top: 80px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    background-color: #000000;
    color: #ffffff;
}

#fotos img {
    border-radius: 100%;
    margin-top: 25px;
}

#fotos div {
    width: 200px;
}

.fotos-cont {
    text-align: center;
}

body {
    font-family: 'Roboto', sans-serif; 
}

.name {
    margin-bottom: -5px;
    font-family: 'Roboto', sans-serif; 
}

.trabajo {
    color: #b11b1b;
    font-family: 'Roboto', sans-serif; 
}

#team {
    color: #ffffff;
    background-color: #000000;
    text-align: center;
    /*padding-top: 50px;*/
    font-family: 'Roboto', sans-serif; 
}

#more {
    color :#ffffff;
    background-color: #000000;
    padding: 60px;
    text-align: center;
    font-family: 'Roboto', sans-serif; 
}

.not-visible {
    display: none;
}

.visible {
    display: block;
}

/* Mobile responsive */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    #acercaDeNosotros {
        padding-left: 5px;
        padding-right: 5px;
        width: 100%;
    }

    #mision {
        padding-left: 5px;
        padding-right: 5px;
        overflow-wrap: break-word;
    }

    #vision {
        /*text-align: center; */
        padding-left: 5px;
        padding-right: 5px;
    }

    #valores {
        padding-left: 5px;
        padding-right: 5px;
        width: 100%;
    }

    #fotos div {
        margin-left: 0px;
        margin-right: 0px;
    }

    #more {
        padding: 20px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
/*@media only screen and (min-width: 600px) {...}*/

/* Medium devices (landscape tablets, 768px and up) */
/*@media only screen and (min-width: 768px) {...}*/

/* Large devices (laptops/desktops, 992px and up) */
/*@media only screen and (min-width: 992px) {...}*/

/* Extra large devices (large laptops and desktops, 1200px and up) */
/*@media only screen and (min-width: 1200px) {...}*/

/*Contenodr iconos*/
.contenedor-icons{
    display: flex;
    flex-direction: column;
    justify-content: left;
}


.contenedor-icons i{
    font-size: 20px;
    color: white;
    margin: 5px;
    display: flex;
    justify-content: left;
    align-items: center;
}
.contenedor-icons span {
    margin: 10px;
    color: white    ;
    font-size: 10px;
}

/*Fotter*/
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
    background-color: white;
}

.logo-fotter{
    display: flex;
    width:30%;
}
.logo-fotter img{
    display: flex;
    margin-left: 100px;
    padding: 10px;
}

/*Barra de navegacion fotter*/
.contenedor-fotter-nav{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor-fotter-nav a{
    font-family: 'Roboto';
    text-decoration: none;
    margin: 10px;
    color: black;
}

.contenedor-fotter-pie{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
}

.contenedor-fotter-pie a{
    font-family: 'Roboto';
    text-decoration: none;
    margin: 10px;
    color: black;
    opacity: 50%;
}

#linea{
    border: none;              
    border-top: 2px solid black; 
    margin: 20px;             
}

.contenedor-fotter-pie-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.contenedor-fotter-pie-icons i{
    margin: 5px;
}

.logo-fotter{
    display: flex;
}
.logo-fotter img{
    width: 100px;

}

@media (max-width: 375px ) {
    .contenedor {
        flex-direction: column;
        height: 100%;
        padding: 15px;
    }
    .contenedor-titulo{
        width: 100%;
    }
    .contenedor-forms {
        width: 100%;
        margin-right: 0;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
     /* Footer */
     footer {
        width: 100%;
        height: 100%;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
    }
    .logo-fotter{
        width: 100%;
        margin: 10px;
        padding: 10px;
        justify-content: center;
        align-items: center;
    }
    .logo-fotter img{
        margin: 10px;
        padding: 10px;
    }
    .contenedor-fotter-nav{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .contenedor-fotter-nav nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contenedor-fotter-nav a{
        margin: 10px;
        padding: 10px;
    }
    .email-telefono {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    .logo-fotter{
        display: flex;
    }
    .logo-fotter img{
        width: 100px;
    
    }
}

@media (max-width: 825px) {
    footer {
        width: 100%;
        height: 100%;
       display: flex;
       justify-content: center;
       align-items: center;
    }
    .footer-navegacion{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}



@media (max-width: 750px) {
    .contenedor {
        flex-direction: column;
        height: auto; /* Cambié a auto para que el contenido se ajuste sin comprimirse */
        padding: 15px; /* Un poco más de padding para evitar que los elementos toquen los bordes */
        box-sizing: border-box; /* Aseguramos que el padding no afecte el tamaño total */
    }
    .contenedor-titulo {
        width: 100%;
        margin-bottom: 15px; /* Añadí un margen inferior para separar del siguiente contenido */
    }
    .contenedor-forms {
        width: 100%;
        margin-right: 0;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
    footer {
        width: 100%;
        height: 100%;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
    }
    .logo-fotter{
        width: 0px;
    }
    .footer img{
        margin: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footer-navegacion{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footer-navegacion a{
        font-size: 1rem;
        width: 100px;
    }
}
