#acercaDeNosotros{
    color :white;
    background-color: #b11b1b;
}

#mision{
    color :white;
    background-color: #1e1e1e;
}

#vision{
    color :white;
    background-color: #1e1e1e;
}

#valores{
    color :white;
    background-color: #1e1e1e;
}